* {
    padding: 0%;
    margin: 0%;
}
#header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 160px;
}
.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}
ul{
display: flex;
flex-direction: row;
margin-right: 120px;
}
.sign-up{
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px;
    border-radius: 10px;
    margin-left: 160px;
}
#hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 160px;
    margin-top: 100px;
}
#hero-secondary{
    margin-left: 160px;
}
.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    max-height: 420px;
}

.header-top {
  display: flex;
  justify-content: space-between;
}
.thumbsup{
position: relative;
    left: 800px;
    bottom: 230px;
    
}
.container-one{
    min-height: 400px;
    text-align: center; 
    display: flex; 
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
}

.h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}
.boxes {
    color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    
   
    
    
}
.box{
    width: 140px;
    height: 140px;
    border: 3px solid blue;
    border-radius: 15px;
    margin-left: 60px;
    margin-bottom: 10px;
    max-width: 150px;         
    
    
}



.container-two {
    background-color: #E5E7EB;
    padding: 200px;
    max-height: 200px;
   
}
.quote{
    font-size: 36px;
    font-style:italic;
}
.author{
    text-align: end;
    font-size: 36px;
    font-style:italic;
    font-weight: bold;
}
.container-three{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-container {
    background-color: #3882f6;
    width: 75%;
    height: 40%;
    color: #F9FAF8;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}
.call-to-action {
width: 80%;
margin-left: 100px;
display: flex;
justify-content: center;
flex-direction: column;
}
h4{
    font-size: 24px;
}
.right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button-2{
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    
}
.footer {
    background-color: #1F2937;
    min-height: 70px;
    text-align: center;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}





